aside {
    
    width: 200px;
    background-color: $nav-bg;
    
    // background-color: rgb(216, 228, 228);
}


.item {
    font-size: $nav-size;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px 5px;
    // text-align: center;
    width: 200px;
    transition: background .2s ease-in-out;
    &:hover {
        // border: 1px solid $black;
        background-color: $bg-item;
        cursor: pointer;
    }

    &:first-child {
        margin-top: 0px;
    }
}

