$body-color: rgb(222, 238, 230);
$bg-color: rgb(165, 199, 172);

$white: rgb(255, 255, 255);
$black: #000;

$content-width: 1200px;

$nav-bg: rgb(195, 219, 207);
$nav-size: 20px;

$color-h1: red;

$bg-item: rgb(167, 202, 205);
$main-bg: rgb(165, 199, 172);